<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML Meta Tags -->
    <title>Rubber duck quiz</title>
    <meta name="description" content="A quiz made by and for rubber ducks. Easy but humourus questions.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url"
        content="https://medieinstitutet.github.io/fed23d-javascript-grundkurs-gruppuppgift-kumquaterna/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rubber duck quiz">
    <meta property="og:description" content="A quiz made by and for rubber ducks. Easy but humourus questions.">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="medieinstitutet.github.io">
    <meta property="twitter:url"
        content="https://medieinstitutet.github.io/fed23d-javascript-grundkurs-gruppuppgift-kumquaterna/">
    <meta name="twitter:title" content="Rubber duck quiz">
    <meta name="twitter:description" content="A quiz made by and for rubber ducks. Easy but humourus questions.">
    <meta name="twitter:image" content="">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="stylesheet" href="../scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <script type="module" src="/src/main.ts"></script>
</head>

<body>
    <div class="app" id="app">
        <header class="header">
            <a href="/index.html" class="abort-quiz-button"><button class="abort-quiz-button">Home</button></a>
            <div class="timer">04:35</div>
            <div class="points">
                <p class="points-counter">Points: <span class="number">0</span></p>
            </div>
        </header>

        <main>
            <section class="section-content-container">
                <div class="wrapper-container">
                    <img src="/img/rubber-duck-bathtub-640x420.jpg" alt="rubber ducks on the edge of a swimming pool"
                        class="img-container">
                    <div class="content-container notimer-color">
                        <h2 class="highscore-title">Highscore</h2>

                        <div class="highscore-container">

                            <div class="highscore-1to5">
                                <p class="highscore">1. <span>eflknsdlfkn</span></p>
                                <p class="highscore">2. <span>-</span></p>
                                <p class="highscore">3. <span>-</span></p>
                                <p class="highscore">4. <span>-</span></p>
                                <p class="highscore">5. <span>-</span></p>
                            </div>

                            <div class="highscore-6to10">
                                <p class="highscore">6. <span>-</span></p>
                                <p class="highscore">7. <span>-</span></p>
                                <p class="highscore">8. <span>-</span></p>
                                <p class="highscore">9. <span>-</span></p>
                                <p class="highscore">10. <span>-</span></p>
                            </div>

                        </div>
                        <a href="/index.html"><button class="next-button">Home</button></a>
                    </div>
                </div>
            </section>
        </main>


        <footer>
            &copy; 2023/2024 Caroline Vårsaga, Ellinor Friström, Jari Leminaho, Linda Leminaho, Victoria Lundberg
        </footer>
    </div>
</body>

</html>