$font-grover: 'Irish Grover', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;
$font-courier: 'Courier New', Courier, monospace;

$colors: (
  primary: #ffb800,
  header: #fff500,
  beak: #ff7a00,
  footer: #ff6a6a,
  abort: #ae0a07,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem,
);

@function fontSize($size) {
  @return map-get($font-sizes, $size);
}

%fullspace {
  width: 100%;
  height: 100%;
}
