footer {
  width: 100svw;
  height: 12svh;
  background: linear-gradient(180deg, #ff6a6a 0%, #000000 100%);
  color: white;
  font-family: $font-roboto;
  font-size: fontSize(xs) * 0.5;
  @include flexCenter;
}
