main {
  .landing-page {
    background-color: #ffbb00;
    height: 76svh;
    /* display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 85%; */
    padding-bottom: 8svh;
    padding-top: 1rem;

    @include response(sm) {
      @include flexCenter($fd: column);
      gap: 1.1rem; 
    }

    @include response(md) {
      @include flexCenter($fd: column);
      gap: 1.1rem; 
    }

    @include response(lg) {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 15% 85%;
    }
  

  .main-heading {
    font-size: 4rem;
    grid-column: 1 / 4;
    margin: 0;
    padding-top: 1.3rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    @include response(sm) {
      font-size: fontSize(md);
      @include flexCenter(column);
    }

    @include response(md) {
      font-size: fontSize(md);
    }

    @include response(lg) {
      font-size: 3rem;
    }

    @include response(xl) {
      font-size: 4rem;
    }
  }

  .game-rules {
    grid-column: 1 / 2;
    position: relative;

    .game-rules-heading {
      font-size: fontSize(xs);
      margin-bottom: 0.5rem;
      text-align: center;
    }
    .game-rules-text {
      font-family: $font-roboto;
      font-size: fontSize(xs) * 0.68;
      text-align: center;
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      span {
        display: inline-block;
        font-family: $font-grover;
        font-size: fontSize(xs) * 0.75;
      }
    }

    .left-eye-container {
      position: absolute;
      bottom: 10px;
      right: 10px;

      .left-pupil {
        border-radius: 50px;
        background-color: black;
        height: 80px;
        width: 80px;
      }
    }
  }

  .game-rules,
  .highscore-landing {
    background-color: color(purple-blue);    
    height: 380px;    
    border-radius: 20px;
    padding-top: 0.5rem;
    // margin-bottom: 9svh;

    @include response(sm) {
      align-self: center;
      margin-bottom: 0;
      width: 80vw;
    }

    @include response(md) {
      align-self: center;
      margin-bottom: 0;
      width: 80vw;
    }

    @include response(lg) {
      align-self: flex-end;
      margin-bottom: 9svh;
      width: 300px;
    }

    .highscore-heading {
      font-size: fontSize(xs);
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .highscore-landing-text-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      .highscore-landing-1to5 {
        grid-column: 2 / 6;
        margin-top: 0.3rem;
        text-align: start;

        span {
          font-family: $font-roboto;
        }
      }
    }  
  
    .left-eye-container,
    .right-eye-container {
      border-radius: 50px;
      background-color: white;
      height: 170px;
      width: 150px;
      box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 6);

      @include response(sm) {
        display: none;
      }

      @include response(md) {
        display: none;
      }
    }
  }
  .start-quiz-button {
    border: none;    
    border-radius: 20px;
    cursor: pointer; //lägg till på xl
    background-color: color(beak);
    font-family: $font-grover;
    font-size: fontSize(xs);

    @include response(sm) {
      align-self: center;
      height: 15svh; 
      width: 80vw;
    }

    @include response(md) {
      align-self: center;
      height: 15svh; 
      width: 80vw;
    }

    @include response(lg) {
      align-self: end;
      min-width: 18svw;
      height: 9svh;
    }

  }

  .highscore-landing {
    grid-column: 3 / 4;
    position: relative;

    .right-eye-container {
      position: absolute;
      bottom: 10px;
      left: 10px;

      .right-pupil {
        border-radius: 50px;
        background-color: black;
        height: 80px;
        width: 80px;
      }
      
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}
}