.section-content-container {
  height: 100svh;

  .wrapper-container {
    height: 100%;

    .img-container-result-page {
      display: none;
      .result-img {
        display: none;
      }
    }

    .result-text-container {
      width: 100%;
      height: auto;
      @include flexCenter($fd: column);
      gap: 1.1rem;

      @include response(lg) {
        margin-bottom: 3rem;
      }

      .result-title-your-result {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        @include response(sm) {
          flex-direction: column;
        }

        @include response(md) {
          flex-direction: column;
        }

        @include response(lg) {
          flex-direction: row;
        }

        .result-title {
          font-size: fontSize(lg);

          @include response(sm) {
            font-size: fontSize(xs) * 1.1;
          }

          @include response(md) {
            font-size: fontSize(md);
          }

          @include response(lg) {
            font-size: fontSize(lg);
          }
        }

        .your-result {
          font-size: fontSize(xs);

          @include response(sm) {
            font-size: fontSize(xs) * 0.7;
          }

          @include response(md) {
            font-size: fontSize(xs);
          }
        }
      }

      .answers-container {
        width: 100%;
        flex-wrap: wrap;
        display: flex;

        .answers-title {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin-bottom: 1rem;

          @include response(sm) {
            font-size: fontSize(xs) * 0.8;
            margin-bottom: 0;
          }
        }

        .answers-1to5,
        .answers-6to10 {
          width: 50%;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          margin: 1rem 0rem;

          @include response(sm) {
            font-size: fontSize(xs) * 0.7;
            width: 100%;
            text-align: start;
            margin: 0;
          }

          @include response(md) {
            font-size: fontSize(xs) * 0.8;
            width: 100%;
            text-align: start;
            margin: 0;
          }

          @include response(lg) {
            font-size: fontSize(xs) * 0.8;
            width: 50%;
            text-align: start;
            margin: 0;
          }
        }

        .answer {
          padding: 0.5rem 0;

          span {
            font-family: $font-roboto;
          }
        }
      }

      .input-wrapper {
        @include response(sm) {
        }

        .submit-button {
          position: absolute;
          bottom: -8%;
          right: 25%;
          align-self: flex-end;
          margin-right: 2rem;
          background-color: transparent;
          width: 60px;
          height: 50px;
          border: none;

          @include response(sm) {
            left: 0;
            margin: auto;
          }

          @include response(md) {
            right: 47%;
            bottom: 4rem;
          }

          @include response(lg) {
            right: 47%;
            bottom: 4rem;
          }

          @include response(xl) {
            cursor: pointer;
          }

          @include response(xxl) {
            cursor: pointer;
          }
        }
      }
    }
  }
}
