.result-text-container {
  width: 100%;
  @include flexCenter($fd: column);
  gap: 1.1rem;

  .result-title-your-result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    .result-title {
      font-size: fontSize(lg);
    }

    .your-result {
      font-size: fontSize(xs);
    }
  }

  .answers-container {
    width: 100%;
    // background-color: #fff;
    flex-wrap: wrap;
    display: flex;

    .answers-title {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
    .answers-1to5 {
      width: 50%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 1rem 0rem;
    }

    .answers-6to10 {
      width: 50%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 1rem 0;
    }
    .answer {
      padding: 0.5rem 0;
    }
  }

  /* .input-name {
    font-family: $font-grover;
    position: absolute;
    bottom: 2rem;
    right: 14.3rem;
    border-radius: 20px;
    border: none;
    height: 2.625rem;
    width: 300px;
    padding: 1rem;
  } */
}

.hidden {
  display: none;
}
