* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Irish Grover", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
  text-align: center;
}

.header {
  width: 100svw;
  height: 12svh;
  background: linear-gradient(180deg, #fffcbc 0%, #fff500 100%);
  display: grid;
  grid-template-columns: 20svw 60svw 20svw;
  grid-template-rows: 12svh;
}
.header .abort-quiz-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  grid-area: 1/1/2/2;
  border: none;
  min-width: 9rem;
  height: 7svh;
  border-radius: 20px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #ae0a07;
  font-family: "Irish Grover", sans-serif;
  color: white;
  align-self: center;
  justify-self: center;
}
.header .scrolltext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  font-size: 1.3rem;
  grid-area: 1/2/2/3;
}
.header .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  font-size: 1.8rem;
}
.header .points {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  grid-area: 1/3/2/4;
  font-size: 1.8rem;
}
.header a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

main .landing-page {
  background-color: #ffbb00;
  height: 76svh;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 85%;
  padding-bottom: 8svh;
  padding-top: 1rem;
}
main .main-heading {
  font-size: 4rem;
  grid-column: 1/4;
  margin: 0;
  padding-top: 1.3rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 576px) {
  main .main-heading {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 780px) {
  main .main-heading {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  main .main-heading {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  main .main-heading {
    font-size: 4rem;
  }
}
main .game-rules {
  grid-column: 1/2;
  position: relative;
}
main .game-rules .game-rules-heading {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
main .game-rules .game-rules-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.088rem;
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
main .game-rules .game-rules-text span {
  display: inline-block;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.2rem;
}
main .game-rules .left-eye-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
main .game-rules .left-eye-container .left-pupil {
  border-radius: 50px;
  background-color: black;
  height: 80px;
  width: 80px;
}
main .game-rules,
main .highscore-landing {
  background-color: #bdb7ff;
  align-self: flex-end;
  height: 380px;
  width: 300px;
  border-radius: 20px;
  padding-top: 0.5rem;
  margin-bottom: 9svh;
}
main .game-rules .highscore-heading,
main .highscore-landing .highscore-heading {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
main .game-rules .highscore-landing-text-container,
main .highscore-landing .highscore-landing-text-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
main .game-rules .highscore-landing-text-container .highscore-landing-1to5,
main .highscore-landing .highscore-landing-text-container .highscore-landing-1to5 {
  grid-column: 2/6;
  margin-top: 0.3rem;
  text-align: start;
}
main .game-rules .highscore-landing-text-container .highscore-landing-1to5 span,
main .highscore-landing .highscore-landing-text-container .highscore-landing-1to5 span {
  font-family: "Roboto Condensed", sans-serif;
}
main .game-rules .left-eye-container,
main .game-rules .right-eye-container,
main .highscore-landing .left-eye-container,
main .highscore-landing .right-eye-container {
  border-radius: 50px;
  background-color: white;
  height: 170px;
  width: 150px;
  box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
}
main .start-quiz-button {
  border: none;
  min-width: 18svw;
  height: 9svh;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ff7a00;
  align-self: end;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.6rem;
}
main .highscore-landing {
  grid-column: 3/4;
  position: relative;
}
main .highscore-landing .right-eye-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
main .highscore-landing .right-eye-container .right-pupil {
  border-radius: 50px;
  background-color: black;
  height: 80px;
  width: 80px;
}
main a {
  text-decoration: none;
  color: black;
}

.section-content-container {
  min-height: 76svh;
  background-color: #ffb800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
}
.section-content-container .wrapper-container {
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 60svh;
  min-width: 95svw;
  justify-content: center;
  display: flex;
}
.section-content-container .wrapper-container .img-container {
  min-height: 60svh;
  width: 35%;
  background-color: #fff;
  border-radius: 12px 0px 0px 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-content-container .wrapper-container .content-container {
  position: relative;
  background-color: #bdb7ff;
  background: linear-gradient(to top, red 10%, purple 35%, #bdb7ff 60%);
  border-radius: 0 12px 12px 0;
  width: 60svw;
  min-height: 60svh;
  padding: 0 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
}
.section-content-container .wrapper-container .content-container .input-name {
  font-family: "Irish Grover", sans-serif;
  position: absolute;
  bottom: 1rem;
  right: 14.3rem;
  border-radius: 20px;
  border: none;
  height: 2.625rem;
  width: 300px;
  padding: 1rem;
}
.section-content-container .wrapper-container .content-container .next-button {
  position: absolute;
  bottom: 1rem;
  right: 0;
  align-self: flex-end;
  margin-right: 2rem;
  background-color: #fff500;
  height: 2.625rem;
  width: 9.375rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.5984rem;
}
.section-content-container .wrapper-container .timer-color {
  width: 100%;
  background: linear-gradient(to top, red, #8d87d0);
  background-size: 200% 300%; /* Double the height to accommodate the animation */
  animation: colorChange 30s linear forwards;
}
.section-content-container .wrapper-container .notimer-color {
  width: 100%;
  background: linear-gradient(to top, red, #8d87d0);
  background-size: 200% 300%; /* Double the height to accommodate the animation */
}
@keyframes colorChange {
  0% {
    background-position: 0% 0%; /* Start at the bottom */
  }
  100% {
    background-position: 0% 100%; /* End at the top */
  }
}

.question-text-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
  gap: 1.1rem;
}
.question-text-container .question-counter {
  font-size: 2.5rem;
  padding-top: 1rem;
}
.question-text-container .question-text {
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.6rem;
}
.question-text-container .question-text,
.question-text-container .answer-alternative {
  font-family: "Roboto Condensed", sans-serif;
  text-align: start;
}
.question-text-container .question-text:nth-child(3),
.question-text-container .answer-alternative:nth-child(3) {
  margin-bottom: 70px;
}
.question-text-container .answer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
.question-text-container .answer-container .answer-alternative {
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: start;
  justify-content: center;
}
.question-text-container .answer-container .answer-alternative .answer-button {
  margin-right: 0.5rem;
  min-width: 1rem;
  min-height: 1rem;
  accent-color: #ffb800;
}
.question-text-container .answer-container .answer-alternative .answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.question-text-container .answer-container .answers {
  font-size: 2rem;
}

.result-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  gap: 1.1rem;
  /* .input-name {
    font-family: $font-grover;
    position: absolute;
    bottom: 2rem;
    right: 14.3rem;
    border-radius: 20px;
    border: none;
    height: 2.625rem;
    width: 300px;
    padding: 1rem;
  } */
}
.result-text-container .result-title-your-result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.result-text-container .result-title-your-result .result-title {
  font-size: 2.5rem;
}
.result-text-container .result-title-your-result .your-result {
  font-size: 1.6rem;
}
.result-text-container .answers-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.result-text-container .answers-container .answers-title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.result-text-container .answers-container .answers-1to5,
.result-text-container .answers-container .answers-6to10 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0rem;
}
.result-text-container .answers-container .answer {
  padding: 0.5rem 0;
}
.result-text-container .answers-container .answer span {
  font-family: "Roboto Condensed", sans-serif;
}

.highscore-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.highscore-container {
  width: 100%;
  height: 70%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  gap: 1.1rem;
  flex-wrap: wrap;
}
.highscore-container .highscore-1to5,
.highscore-container .highscore-6to10 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0;
}
.highscore-container .highscore {
  padding: 0.5rem 0;
}
.highscore-container .highscore span {
  font-family: "Roboto Condensed", sans-serif;
}

footer {
  width: 100svw;
  height: 12svh;
  background: linear-gradient(180deg, #ff6a6a 0%, #000000 100%);
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
}/*# sourceMappingURL=style.max.css.map */